MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
PORT=
APP_DOMEIN=
JWT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
CLOUDINARY_ENABLE=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

















